.invite {
   padding: 70px 0;
   &__wrapper {
      padding: 50px 15px;
      display: flex;
      flex-direction: column;

      background-color: $bg-block;
      border-radius: 10px;

      @media screen and (min-width:768px) {
         flex-direction: row;
         padding: 0;
         gap: 30px;

         background-color: #fff;
      }
   }

   &__main {
      margin-bottom: 30px;
      @media screen and (min-width:768px) {
         padding: 60px 40px;
         background-color: $bg-block;
         border-radius: 10px;
         margin-bottom: 0;
         flex: 1 1 593px;
      }
   }

   &__form {
      @media screen and (min-width:768px) {
         flex: 1 1 578px;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      margin-bottom: 26px;

      .title {
         order: 2;
         margin-right: 10px;
      }

      @media screen and (min-width:768px) {
         margin-bottom: 20px;
         .title {
            order: 0;
            margin-right: 0;
            margin-left: 15px;
         }
      }
   }

   &__image {
      width: 34px;
      height: 34px;

      @media screen and (min-width:768px) {
         width: 43px;
         height: 43px;
      }
   }

   &__desc {
      p {
        margin-bottom: 10px; 
        @media screen and (min-width:768px) {
           margin-bottom: 15px;
        }
      }
      span {
         font-weight: 700;
         color: $primary-red;
      }
   }
}

.form-invite {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;

   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 20px;
      .input {
         flex: 1 1 auto;
      }
   }

   &__checkbox {
      margin-bottom: 15px;
   }

   &__buttons {
      font-size: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
         & * {
            flex: 1 1 auto;
         }
      }
   }

   #summary {
      position: relative;
      &::before {
         content: '123';
         display: block;
         align-items: center;
         justify-content: center;

         width: 77px;
         height: 100%;
         background-color: #DBDFEC;

         font-weight: 400;
         font-size: 16px;
         color: $title;

         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         z-index: 20;
      }
   }

   @media screen and (min-width:768px) {
      &__checkbox {
         margin-bottom: 30px;
      }

      &__buttons {
         gap: 15px;
      }
   }

}


.checkbox {
   &__input {
      width: 0;
      height: 0;
      appearance: none;
      position: absolute;
   }

   &__label {
      position: relative;
      padding-left: 43px;
      cursor: pointer;

      font-weight: 400;
      font-size: 12px;
      color: $title;

      display: block;
      &::before {
         content: '';
         display: block;
         width: 24px;
         height: 24px;

         border: 2px solid #DBDFEC;
         border-radius: 4px;

         position: absolute;
         left: 0;
         top: 0;

         cursor: pointer;
      }

      @media screen and (min-width:768px) {
         font-size: 14px;
      }
   }

   &__input:checked + &__label::before {
      background: url(../../images/icons/checked.svg) center no-repeat;
   }
}