.popular {
   padding: 70px 0 108px 0;

   &__wrapper {
      position: relative;
   }

   .swiper-pagination.popular-slider-pagination {
      position: absolute;
      bottom: -30px;

      display: flex;
      align-items: center;
      justify-content: center;
   }

   .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background-color: #DBDFEC;
      margin: 0 6px;

      transition: all 0.2s ease-in-out;
      opacity: 1;

      &:hover {
         background-color: $primary-red;
      }
   }

   .swiper-pagination-bullet.swiper-pagination-bullet-active {
      position: relative;
      background-color: $primary-red;

      &::before {
         content: '';
         display: block;

         width: 16px;
         height: 16px;

         background: url(../../images/icons/Ellipse.png);

         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.popular-card {
   border: 1px solid #DBDFEC;
   border-radius: 10px 10px 4px 4px;

   overflow: hidden;
   position: relative;

   flex: 1 1 auto;
   display: flex;
   flex-direction: column;

   transition: all 0.2s linear;

   &:hover {
      box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25), 5px 5px 10px rgba(190, 190, 190, 0.25);
      .popular-card__title {
         color: $primary-red;
      }
   }

   &__image {
      width: 100%;
      height: 99px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;

         transform: scaleX(-1);
      }

      @media screen and (min-width: 1280px) {
         height: 171px;
      }
   }

   &__wrapper {
      padding: 15px 12px;
      display: flex;
      flex-direction: column;
      height: auto;

      flex: 1 1 auto;

      @media screen and (min-width: 1280px) {
         padding: 20px 15px 30px 15px;
      }
   }

   &__desc {
      display: none; 
      @media screen and (min-width: 1280px) {
         display: block;
         margin-bottom: 40px;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 14px;
      color: $title;
      margin-bottom: 10px;
      transition: color 0.2s linear;

      @media screen and (min-width: 1280px) {
         font-size: 18px;
         margin-bottom: 5px;
      }
   }

   &__footer {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      @media screen and (min-width: 1280px) {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }
   }

   .price {
      display: flex;
      align-items: center;
      margin-bottom: 44px;

      @media screen and (min-width: 1280px) {
         flex-direction: column;
         align-items: flex-start;

         margin-bottom: 0;
      }

      &__ru  {
         font-weight: 700;
         font-size: 18px;
         color: $title;
         margin-right: 10px;

         @media screen and (min-width: 1280px) {
            font-size: 20px;
         }
      }

      &__cad {
         font-weight: 400;
         font-size: 12px;
         color: #AFB2C4;
      }
   }

   &__logo {
      position: absolute;
      top: 15px;
      left: 13px;

      width: 35px;
      height: 35px;
   }

   @media screen and (min-width: 1280px) {
      border-radius: 10px;
   }

   &--big {
      .popular-card {
         &__image {
            height: 171px;
   
            @media screen and (min-width: 1280px) {
               height: 235px;
            }
         }
   
         &__title {
            font-size: 16px;
   
            @media screen and (min-width: 1280px) {
               font-size: 20px;
            }
         }
   
         .price {
            &__ru  {
               
               font-size: 24px;
               @media screen and (min-width: 1280px) {
                  font-size: 24px;
               }
            }
         }  
      }
   }
}
