.main {
   &__slider {
      padding: 70px 0;
   }
}

.slider {

   &__wrapper {
      position: relative;
      margin-bottom: 178px;
   }

   .swiper-pagination.slider-pagination {
      position: absolute;
      bottom: -30px;

      display: flex;
      align-items: center;
      justify-content: center;
   }

   .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background-color: #DBDFEC;
      margin: 0 6px;

      transition: all 0.2s ease-in-out;
      opacity: 1;

      &:hover {
         background-color: $primary-red;
      }
   }

   .swiper-pagination-bullet.swiper-pagination-bullet-active {
      position: relative;
      background-color: $primary-red;

      &::before {
         content: '';
         display: block;

         width: 16px;
         height: 16px;

         background: url(../../images/icons/Ellipse.png);

         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   .details {
      &__header {
         margin-bottom: 30px;
      }

      &__title {
         font-weight: 700;
         font-size: 20px;
         line-height: 1.5;
         color: $title;

         @media screen and (min-width: 1236px) {
            font-size: 24px;
         }
      }

      &__link {
         display: inline-flex;
         align-items: center;

         font-weight: 700;
         font-size: 20px;
         line-height: 1.5;
         color: $title;

         transition: all 0.2s ease-in-out;

         .icon {
            width: 15px;
            height: 12px;
            fill: $primary-red;

            transition: all 0.2s linear;
         }

         &:hover {
            color: $primary-red;

            .icon {
               margin-left: 5px;
            }
         }
      }

      &-card {
         background: #FFFFFF;
         box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25), 5px 5px 10px rgba(190, 190, 190, 0.25);
         border-radius: 10px;
         overflow: hidden;
         position: relative;
         &__preview {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            height: 208px; 

            @media screen and (min-width: 1236px) {
               height: 236px;
            }
         }

         &__info {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;

            padding: 15px 12px;
            background: rgba(30, 34, 46, 0.4);

            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;

            @media screen and (min-width: 1236px) {
               padding: 12px 14px 20px 14px;
               font-size: 18px;
            }
         }

         &__link {
            padding: 10px 12px;
            border-bottom: 1px solid #F3F3F3;
   
            font-weight: 400;
            font-size: 14px;
            color: $text;

            transition: all 0.2s ease-in-out;

            &:hover {
               background-color: #FFF6F6;
               color: $primary-red;
            }

            @media screen and (min-width: 1236px) {
               padding: 10px 15px;
               font-size: 16px;
            }
         }

         &::after {
            content: '';

            display: block;
            width: 49px;
            height: 44px;
            background: url(../../images/little-logo.png) center / contain no-repeat;

            position: absolute;
            top: 15px;
            left: 15px;
         }
      }

      .question {
         border-radius: 10px;
         overflow: hidden;
         &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            height: 357px;
            margin-bottom: 20px;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 15px;

            @media screen and (min-width: 1236px) {
               font-size: 24px;
               margin-bottom: 30px;
            }
         }

         &__info {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
            color: $text;

            display: block;
            margin-bottom: 15px;
         }
      }
   }
}

.slider-card {
   border: 1px solid #DBDFEC;
   border-radius: 10px;

   display: flex;
   flex-direction: column;

   overflow: hidden;
   transition: all 0.2s linear;
   position: relative;

   flex: 1 1 auto;

   &:hover {
      box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25), 5px 5px 10px rgba(190, 190, 190, 0.25);

      .slider-card {     
         &__subtitle {
            color: $primary-red;
         } 
      }
   }

   &__image {
      height: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__info {
      padding: 15px 12px;
   }

   &__subtitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: $title;

      transition: color 0.2s linear;
   }

   &__logo {
      position: absolute;
      top: 12px;
      left: 12px;
   }
}


@media screen and (min-width: 1236px) {
   .slider-card {
      &__info {
         padding: 15px;
      }
   
      &__subtitle {
         font-size: 18px;
      }
   }
}