body {
   font-family: 'ProximaNova', sans-serif;
   background-color: #fff;
}

body.lock {
   overflow: hidden;
}

.btn {
   padding: 15px;
   background-color: $primary-red;

   display: flex;
   align-items: center;
   justify-content: center;

   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   line-height: 24px;
   color: #FFF;

   border: 1px solid $primary-red;
   border-radius: 4px;
   transition: all 0.2s linear;

   &:hover {
      background-color: #FFF;
      color: $primary-red;
   }

   &:active {
      background-color: #DD1718;
      border-color: #DD1718;
      color: #fff;
   }

   @media screen and (min-width: 1236px) {
      padding: 19px;
      font-size: 18px;
   }
}

.title {
   line-height: 1.5;
   color: $title;
   font-size: 20px;

   @media screen and (min-width: 768px) {
      font-size: 24px;
   }

   @media screen and (min-width: 1236px) {
      font-size: 32px;
   }

   &--main {
      font-size: 24px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
         font-size: 32px;
         margin-bottom: 30px;
      }
   
      @media screen and (min-width: 1236px) {
         font-size: 48px;
         margin-bottom: 35px;
      }
   }
}

.text {
   line-height: 1.5;
   font-size: 14px;
   color: $text;

   &--sm {
      font-size: 10px;
   }

   &--lg {
      font-size: 20px;
   }
}


.input {
   padding: 16px;

   border: 1px solid #E1E1E1;
   border-radius: 4px;
   background: rgba(33, 62, 97, 0.04);

   font-weight: 400;
   font-size: 16px;
   color: #999999;

   transition: all 0.2s linear;

   &:active {
      color: $title;
   }

   &--error {
      border: 1px solid $primary-red;
   }
}

.link {
   transition: all 0.2s linear;
   &--section {
      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: $primary-red;

      .icon {
         width: 17px;
         height: 13px;
         fill: $primary-red;

         transition: fill 0.2s linear;
      }

      span {
         display: none;

         @media screen and (min-width: 1236px) {
            display: block;
            margin-right: 20px;
         }
      }

      &:hover {
         color: $decor;

         .icon {
            fill: $decor;
         }
      }
   }
}

.section-header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin-bottom: 30px;

   @media screen and (min-width: 1236px) {
      margin-bottom: 40px;
   }
}

.swiper-slide {
   display: flex;
   flex-direction: column;
   height: auto;
}
