body {
   font-family: 'ProximaNova', sans-serif;
   background-color: #fff;
}

body.lock {
   overflow: hidden;
}

.p-mobile {
   padding-top: 74px;
   @media screen and (min-width: 1280px) {
      padding-top: 0;
   }
}

.btn {
   padding: 15px;
   background-color: $primary-red;

   display: inline-flex;
   align-items: center;
   justify-content: center;

   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   line-height: 24px;
   color: #FFF;
   white-space: nowrap;

   cursor: pointer;
   border: 1px solid $primary-red;
   border-radius: 4px;
   transition: all 0.2s linear;

   &:hover {
      background-color: #FFF;
      color: $primary-red;

      .icon {
         fill: $primary-red;
      }
   }

   &:active {
      background-color: #DD1718;
      border-color: #DD1718;
      color: #fff;
   }

   .icon {
      width: 21px;
      height: 14px;
      fill: #fff;
      margin-left: 12px;

      transition: fill 0.2s linear;
   }

   @media screen and (min-width: 1280px) {
      padding: 20px;
      font-size: 18px;

      &--max {
         padding: 20px 50px;
      }
   }

   &--big {
      padding: 15px 30px;

      @media screen and (min-width: 1280px) {
         padding: 15px 30px ;
      }
   }

   &--little {
      padding: 10px;

      @media screen and (min-width: 1280px) {
         padding: 10px;
      }
   }

   &--question {
      width: 100%;

      .icon {
         width: 14px;
         height: 12px;
         fill: #fff;
         margin-left: 10px;
      }
   }

   &--non-availability {
      background-color: #fff;
      color: $primary-red;
      width: 100%;

      transition: all 0.2s ease-in-out;

      &:hover {
         background-color: $primary-red;
         color: #fff;
      }
   }

   &--bottom {
      @media screen and (max-width: 1280px) {
         position: absolute;
         bottom: 0;
         right: 0;
         left: 0;

         font-size: 18px;

         border-radius: 0;
         border: none;
         border-top: 1px solid $primary-red;
      }
   }
}

.title {
   line-height: 1.5;
   color: $title;
   font-size: 20px;

   @media screen and (min-width: 768px) {
      font-size: 24px;
   }

   @media screen and (min-width: 1280px) {
      font-size: 32px;
   }

   &--main {
      font-size: 24px;
      margin-bottom: 20px;

      @media screen and (min-width: 1280px) {
         font-size: 32px;
         margin-bottom: 30px;
      }
   
      @media screen and (min-width: 1280px) {
         font-size: 48px;
         margin-bottom: 35px;
      }
   }
}

.text {
   line-height: 1.5;
   font-size: 14px;
   color: $text;

   @media screen and (min-width: 1280px) {
      font-size: 16px;
   }

   &--sm {
      font-size: 10px;
   }

   &--lg {
      font-size: 16px;
      @media screen and (min-width: 1280px) {
         font-size: 20px;
      }
   }
}


.input {
   padding: 16px;

   border: 1px solid #E1E1E1;
   border-radius: 4px;
   background: rgba(33, 62, 97, 0.04);

   font-weight: 400;
   font-size: 16px;
   color: #999999;

   outline: none;
   transition: all 0.2s linear;

   &:focus {
      color: $title;
   }

   &--error {
      border: 1px solid $primary-red;
   }
   
   &:hover {
      border: 1px solid $decor;
   }
}

.link {
   transition: all 0.2s linear;
   &--section {
      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: $primary-red;

      .icon {
         width: 17px;
         height: 13px;
         fill: $primary-red;

         transition: fill 0.2s linear;
      }

      span {
         display: none;

         @media screen and (min-width: 1280px) {
            display: block;
            margin-right: 20px;
            font-size: 24px;
         }
      }

      &:hover {
         color: $decor;

         .icon {
            fill: $decor;
         }
      }

      @media screen and (min-width: 1280px) {
         font-size: 24px;
      }
   }
}

.section-header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin-bottom: 30px;

   @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
   }
}

.swiper-slide {
   display: flex;
   flex-direction: column;
   height: auto;
}

.bg {
   background-color: $bg;
}

.test {
   height: 1000px;
}